<h3> Processes: </h3>

<button (click)="firstClick()" class="btn btn-info float-right">Load</button>
<div class="table-responsive">
  <table class="table table-striped table-sm" *ngIf="processes" (click)="sendData($event)">
    <thead class="thead-dark">
      <tr>
        <th>Id</th>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let process of processes" id="{{ process.id }}">
        <td>{{ process.id }}</td>
        <td>{{ process.name }}</td>
      </tr>
    </tbody>
  </table>
</div>


