


<div class="sidenav">
  <a (click)="firstClick()">Refresh</a>
  <a href="#">Services</a>
  <a href="#">Clients</a>
  <a href="#">Contact</a>
</div>

<div class="container main">
    <div class="col table-wrapper-scroll-y">
      <table class="table-striped table-bordered">
        <tr (click)="sendData($event)" *ngFor="let process of processes" id="{{process.id}}">
          <td style="width: 25%">{{process.id}}</td>
          <td style="width: 25%">{{process.name}}</td>
        </tr>
      </table>
    </div>
</div>
